ul{
    li{
        list-style-type: none;
    }
}
#container{
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.content {
    overflow: hidden;
}
#main-content{
    width: 620px;
    float: left;
    margin-right: 10px;
}
#sidebar{
    width: 320px;
    float: right;
    margin-left: 10px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: #bf172d;
}
a:visited {
    color: #888888;
}
.logo{
    
    .site-name{
        h2{
            a{
                text-shadow: 2px 2px 1px #ccc;
                font-size: 2em;
            }
        }
    }
    .site-description{
        font-style: italic;
        color: #ccc;
    }
    .primary-menu{
        ul {
            overflow: hidden;
            list-style-type: none;
            padding: 25px 0;
            margin: 10px -10px;
            background: #e94949;
            box-shadow: 0px 0px 1px #ccc;
            box-sizing: border-box;
            li {
                float: left;
                margin-right: 10px;
                padding: 0 5px;
                a {
                    color: #fff;
                }
                &:hover {
                    background: #bf172d;
                    a {
                        
                    }
                    ul {
                        display: block;
                        position: absolute;
                        background: #ccc;
                        margin: 0 -5px;
                        padding: 10px 5px;
                        box-sizing: border-box;
                        li{
                            display: block;
                            float: none;
                        }
                    }
                }
                ul{
                    display: none;
                }
            }
        }
    }
}