#fh5co-home {
  background-image: url(../images/full_image_2.jpg);
}

.fh5co-block-1.to-animate {
  background-image: url(../images/img_7.jpg);
}

.fh5co-block-2.to-animate {
  background-image: url(../images/img_8.jpg);
}

.fh5co-block-3.to-animate {
  background-image: url(../images/img_10.jpg);
}

#fh5co-counters {
  background-image: url(../images/full_image_1.jpg);
}
